body{
    background-color: rgb(190, 233, 219);
   
    font-family: sans-serif;
}

.container{
    background-color: blue;
    font-size: 10px ;
}

.p{
    border-style: dotted;
}

.paragraaf2{
    background-color: blueviolet;
}

h4{
    text-align: center;
    background-color: dodgerblue;
}

.container{
width: 300px; 
height: 250px;
}

a:hover{

color:brown
} 
.afbeelding{
width: 100px;
}
button{
height: 50px;
width: 120px;
background-color: rg#ee33b6;
color: #6d6dcc;

border-radius: 50%;
}
button:hover{
background-color: rgb(165, 42, 118);
color: white;
cursor: pointer;
border:3px dashed ;
}