body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #555 ;
    background-image: url("https://nicefon.ru/download/original/177688/f4f017f3f0d4d2c9/8/ponte_vecchio_florenciya_italiya_reka_staryy_most_italy_florence.html") ;
    background-repeat: no-repeat;
    background-repeat: space;
    
}

h2{
    color:aqua;
    background-color:blue


}
.title1{
    color:brown;
    background-color: bisque;
}

#paragraaf2{color:blueviolet;
    
    border-style: solid;
    border-color: bisque;
    border: width 10px;
    border-style: groove;


}
.container{
    width: 300px; 
    height: 250px;
}

a:hover{
    font-size: 30px;
    color:brown
} 
.afbeelding{
    width: 100px;
}
button{
    height: 50px;
    width: 150px;
    background-color: rg#66ee33;
    color: #6d6dcc;
    font-size: 35px;
    border-radius: 50%;
}
button:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
    border:3px dashed ;
}