talble, th, td{
    border: 2px solid crimson;
    border-collapse: collapse;
}
td, th {
    padding: 10px;
}

table{
    margin: 30px ;

}
#tableLayOut{
background-color: bisque;
}

#tableLayOut th, #tableLayOut td:nth-child(1){
    color: rgb(3, 53, 36) !important;
}
#tableLayOut td:not(:nth-child(1)){
    color: darkkhaki;
}
#tableLayOut tr:nth-child(2n){
    background-color: darkgreen;
    color: cornsilk;
}

#tableLayOut tr:nth-child(2n+1){
    background-color: crimson 
}
#tableLayOut tr:nth-child(2n)>td{
    color:blue;
}
#lijn{
    width: 800px;
    text-align: center;
}
#lijn th, #lijn td,#lijn{
    border: none !important;
}
#lijn th, #lijn td{
    border-bottom: 3px solid chartreuse !important;
    border-right: 2px solid cornflowerblue !important;
}
#lijn td{
    height: 50px;
    vertical-align: bottom;
}
#lijn td:nth-child(1){
    text-align: end;
}