@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');


body{
    background-color:(120,120,120) ;
    margin: 0;
    padding: 0;
}
#titel{
    text-align: center;
    color: brown;
}
footer{
    background-color: aqua;
}

footer h5{
    padding: 20px;
    text-align: center;
    font-size: 25px ;
    color: blue;
}
#nav{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: flex-end;
}

#nav>li{
  
    margin-right: 20px;
}

/*#nav>li::marker{
    font-size: 40px;
    color:blue;
    content: "👌"
}*/


#nav>li>a{
    text-align: none;
    color: darkgoldenrod;
    margin-right: 20px;
    padding: 20px 0;
}

.navbar{
    background-color:darkgrey;
}

#nav>li>a:hover{
    color: greenyellow;
    text-shadow: 0 0 10px rgb(6, 25, 61), 0 0 15px crimson ;
}
.sidebar>ol{
    border:3px dotted cornflowerblue;
    font-size: 25px;
    
}
.sidebar{
width: 30%;
}

.sidebar>ol>li::marker{
    color: blue;
}
.blog{
font-size: 20px;
    padding: 0 20px;
    margin: 0;
    border: 2px solid crimson;
    
}

.container{
    display: flex;
    margin: 10px;
}

.flexbox{
    position: relative;
    margin: 0 auto;
    border: 3px solid chocolate;
    width:80%;
    

}
.flexbox div{
    width: 100px;
    height: 100px;
}
#box1{
    background-color: brown;
}
#box2{
    background-color: blueviolet;
}
#box3{
    background-color:bisque ;
}
    
#box4{
    background-color:darkmagenta ;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}

#box5{
    background-color:darkorange ;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 5 ;
}